<div class="p-8 flex items-start justify-center">
    <form
      class="w-full py-4 px-6 max-w-lg bg-white border border-gray-200 rounded-lg shadow flex flex-col gap-4"
      [formGroup]="editForm"
      (ngSubmit)="editForm.valid && edit()"
      autocomplete="off"
    >
      <h5 class="text-xl my-2 font-medium text-gray-900">
        Editar integrante
      </h5>
  
      <app-text-input
        [formControl]="$any(editForm.controls['name'])"
        label="Nombre"
        placeholder="Ingrese su nombre"
        requiredMessage="El nombre es requerido"
      />
  
      <app-text-input
        [formControl]="$any(editForm.controls['email'])"
        label="Correo electrónico"
        [type]="'email'"
        placeholder="Ingrese su correo electrónico"
        requiredMessage="El correo electrónico es requerido"
      />
  
      <app-text-input
        [formControl]="$any(editForm.controls['semester'])"
        label="Semestre"
        placeholder="Ingrese el semestre"
        requiredMessage="El semestre es requerido"
      />
  
      <app-text-input
        [formControl]="$any(editForm.controls['career'])"
        label="Carrera"
        placeholder="Ingrese su carrera"
        requiredMessage="La carrera es requerida"
      />
  
      <div
        *ngIf="errorMessage"
        class="p-4 text-sm text-red-800 rounded-lg bg-red-50"
        role="alert"
      >
        <span class="font-medium">Error!</span> {{ errorMessage }}
      </div>
  
      <button
        class="place-self-end w-fit my-2 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg"
        [disabled]="!addForm.valid"
        [ngClass]="
          editForm.valid
            ? 'hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300'
            : 'bg-blue-300 cursor-not-allowed'
        "
        type="submit"
      >
        Editar integrante
      </button>
    </form>
  </div>